<p>albums works!</p>

<div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-lg-5" id="list">
        <h6 class="text-muted">Albums</h6> 
        <ul class="list-group">
          <li>

            <button id="order" type="button" class="btn btn-primary active" (click)="like()"> Order by likes  <i class="fa fa-sort"></i> </button>
          </li>
          <li  *ngFor="let album of albums | sortBy: sortLike" class="list-group-item d-flex justify-content-between align-items-center">
            {{ album.id }}<i class="fa fa-bookmark"> {{ album.name }}</i> -  <i class="fa fa-heart-o"> {{ album.like }}</i>
            <div class="image-parent">
                <img src="{{ album.image}}" class="img-fluid" alt="quixote">
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>